.group-checkbox:hover {
  background: rgba(0, 0, 0, 0.04);
}

.group-checkbox {
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.group-checkbox .mat-checkbox-layout {
  flex: 1;
  line-height: 3em;
  height: 3em;
  align-items: center;
}

.mat-checkbox-layout .mat-checkbox-label {
  flex: 1;
  font-weight: bold;
}

.mat-select-panel {
  max-height: 512px !important;
}

.mat-group-multi-select {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mat-group-multi-select.align-center {
  align-items: center;
}

button.hidden {
  visibility: hidden;
}

.multi-select-search-container {
  width: 100%;
}

.pokemon-option {
  padding-left: 32px;
}

.alignment-checkbox {
  margin: 16px;
  flex: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
